{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h2>Реєстрація</h2>
    <form method="post" action="{% url 'register' %}">
      {% csrf_token %}

      <div class="form-group">
        <label for="username">Ім'я користувача:</label>
        <input type="text" class="form-control" id="username" name="username" required>
      </div>

      <div class="form-group">
        <label for="email">Електронна пошта:</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>

      <div class="form-group">
        <label for="password1">Пароль:</label>
        <input type="password" class="form-control" id="password1" name="password1" required>
      </div>

      <div class="form-group">
        <label for="password2">Підтвердження пароля:</label>
        <input type="password" class="form-control" id="password2" name="password2" required>
      </div>

      <button type="submit" class="btn btn-primary">Зареєструватися</button>
    </form>
    <p>Вже є обліковий запис? <a href="{% url 'login' %}">Увійти</a></p>
  </div>
{% endblock %}
